{% extends "/html/base.html" %}
{% block content %}
<div id="post">
    {% for post in posts %}
    <div class="post-header">
        <h2>
            <a href="{{post.uri}}">{{post.title}}</a>
        </h2>
        <div id="post-meta">
            {% if post.author %}
            <div class="author">{{post.author}}</div>
            {% endif %}
            <div class="date">{{post.date|date:longDate}}</div>
        </div>
        <!-- conditional topic logo displayed if :topic has value in a post -->
        {% if post.topic %}
        <img class="topic" src="{{index-uri}}images/{{post.topic}}-logo-name.png" alt="{{post.topic}} logo" />
        {% endif %}
    </div>
    {{post.content|safe}}
    <a href="{{post.uri}}">Continue reading &#8594;</a>
    <hr>
    {% endfor %}

    <div id="prev-next">
        {% if prev-uri %}
        <a class="left" href="{{prev-uri}}">&laquo; Prev</a>
        {% endif %}
        {% if next-uri %}
        <a class="right" href="{{next-uri}}">Next &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
